@model Market.MVC.Models.TableProductViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of products</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create</a>
</p>
@{
    var dummyModel = new ProductViewModel();
}

@if (Model.Page > 1)
{
    <a asp-action="Index"
       asp-route-page="@(Model.Page - 1)"
       class="btn btn-primary">
        Previous
    </a>
}
@if (Model.NextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.Page + 1)"
       class="btn btn-primary">
        Next
    </a>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => dummyModel.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummyModel.ShortTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummyModel.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummyModel.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @{
                        var base64 = Convert.ToBase64String(item.Image);
                        var imgSrc = String.Format("data:image;base64,{0}", base64);
                    }
                    <img src="@imgSrc" width="100" height="100" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
